* {
    font-family: "Inter", sans-serif;
}

.body {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nav h2 {
    font-weight: 500;
}

.nav header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
}

.nav {
    margin-bottom: 4rem;
}

.clearButton {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

a {
    color: inherit;           
    text-decoration: none;    
}


.hero {
  padding: 0 1.2rem;
  margin-bottom: 5rem;
}

.hero > h2 {
    font-size: 2.5rem;
}

.carousel {
    padding: 0 1.2rem;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 40s infinite linear;
    padding-right: 1em;
}

.card {
    flex: 0 0 5em;
}

img {
    width: 20rem;
    height: 28rem;
    border-radius: 1rem;
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
