.container {
    /*background-color: purple;*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleAndUtilsContainer {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.title {
    padding: .5rem;
    border-radius: 2rem;
    border: 1px solid black;
    align-self: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.utilsContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.buttonsContainer {
    height: 2.25rem;
    padding: .5rem;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.buttonsContainer button {
    border: none;
    background-color: transparent;
}

.styleIcon:hover {
    transform: scale(1.3, 1.3);
    stroke: #f37373f5;
}

.styleIconUnderline:hover {
    transform: scale(1.3, 1.3);
    stroke: #f37373f5;
    fill: #f37373f5;
}

.styleIcon.selected {
    transform: scale(1.3, 1.3);
    stroke: #f37373f5;
}

.styleIconUnderline.selected {
    transform: scale(1.3, 1.3);
    stroke: #f37373f5;
    fill: #f37373f5;
}



.highlightColorButton {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.highlightColorButton.orange {
    background-color: #ffc078;
    border: 1px solid #fcb360;
}

.highlightColorButton.red {
    background-color: #ffa8a8;
    border: 1px solid #fa9191;
}

.highlightColorButton.green {
    background-color: #8ce99a;
    border: 1px solid #40e459;
}

.highlightColorButton.blue {
    background-color: #74c0fc;
    border: 1px solid #49acf8;
}

.highlightColorButton.purple {
    background-color: #b197fc;
    border: 1px solid #8d69f8;
}

.highlightColorButton.orange.hlSelected {
    transform: scale(1.3, 1.3);
    background-color: #fdb25c;
    border: 1px solid #fcb360;
}

.highlightColorButton.red.hlSelected {
    transform: scale(1.3, 1.3);
    background-color: #ff7d7d;
    border: 1px solid #fa9191;
}

.highlightColorButton.green.hlSelected {
    transform: scale(1.3, 1.3);
    background-color: #68e27a;
    border: 1px solid #40e459;
}

.highlightColorButton.blue.hlSelected {
    transform: scale(1.3, 1.3);
    background-color: #43a8f5;
    border: 1px solid #49acf8;
}

.highlightColorButton.purple.hlSelected {
    transform: scale(1.3, 1.3);
    background-color: #9270f8;
    border: 1px solid #8d69f8;
}

.styleIcon, .styleIconUnderline {
    width: 1rem;
    height: 1rem;
}

.editorContainer {
    /*background-color: pink;*/
    flex-grow: 1;
    width: 100%;
    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 2rem;
}

.editorContainer div {
    height: 98%;
    max-height: 47rem;
}

:global(.tiptap) {
    /*background-color: lightblue;*/
    outline: none;
    height: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    overflow: clip;
}

:global(.tiptap h2) {
    font-family: "Inter", sans-serif;
}

:global(.tiptap mark) {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

:global(.tiptap em) {
    font-family: "Inter", sans-serif;
}

:global(.tiptap strong) {
    font-family: "Inter", sans-serif;
}

:global(.tiptap blockquote p),
:global(.tiptap blockquote mark),
:global(.tiptap blockquote em),
:global(.tiptap blockquote strong),
:global(.tiptap blockquote u) {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.2rem;
    border-left: .2rem solid lightgrey;
    padding-left: .25rem;
}

:global(.tiptap blockquote mark),
:global(.tiptap blockquote em),
:global(.tiptap blockquote strong),
:global(.tiptap blockquote u) {
    border: none;
}