.container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

h2 {
    font-weight: 400;
}

.hero {
    font-weight: 500;
    margin-bottom: 1rem;
}

.emptyLibrary p {
    font-size: 1.2rem;
    text-align: start;
    max-width: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    padding: 0 1.2rem;
}

.directory {
    display: flex;
}

.directory p {
    margin-right: 1rem;
    cursor: pointer;
}

.clearButton {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.emptyLibrary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.libraryContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sort {
  
}

.library {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem;
    max-width: fit-content;
    gap: 2rem;
}

.bookCover {
    width: 20rem;
    height: 28rem;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bookCover:hover {
    transform: translateY(-5px);
    /* Moves the item up slightly */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    /* Adds a deep shadow */
    cursor: pointer;
}