.tagsContainer {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3c673bb;
    border-radius: 2rem;
    margin: 0;
    font-size: .8rem;
    font-weight: 400;
    padding: .5rem;
}

.tag p {
    margin: 0 .2rem 0 0;
}

.tag button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.prompt {
    background-color: rgba(240, 221, 198, 0.795);
}

.prompt input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 5rem;
}

.tag .close {
    width: .75rem;
    height: .75rem;
    fill: gray;
}