.ratingContainer {
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.star {
    width: 2rem;
    height: 2rem;
}

.star:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.selected {
    color: black;
}